.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &::selection {
    background-color: var(--surface-ripple-highlight);
    color: var(--on-midnight-blue);
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 700;
    font-size: 7rem;
    color: var(--surface-ripple);
    opacity: 1;
  }

  &__title {
    font-size: 5rem;
    font-weight: 700;
    color: var(--surface-ripple-light);
    padding-block: 0.5rem;
  }

  &__subtitle {
    font-size: 1.5rem;
    color: var(--on-midnight-blue);
    font-family: "Oxygen Mono", monospace;
  }

  &__typewriter {
    font-size: 18px;
    font-weight: bold;
    color: var(--on-midnight-blue);
    display: inline-block;
  }

  &__cursor {
    font-size: 18px;
    font-weight: bold;
    color: var(--on-midnight-blue);
    display: inline-block;
    position: relative;
    left: 0;
    animation: blink 0.8s infinite;
  }

  &__summary {
    font-size: 1.5rem;
    color: var(--surface-ripple);
    opacity: 0.6;

    &-container {
      line-height: 1.5rem;
      margin-block-start: 1.5rem;
      max-width: 600px;
    }
  }
}

.hero-content {
  padding: 2rem;
  max-width: 600px;
  font-size: 1.2rem;
}
