<section class="hero">
  <div class="hero__container">
    <p class="hero__subtitle">
      <span #typewriter class="hero__typewriter"></span>
    </p>
    <span class="hero__name">Matthew Tuson.</span>
    <span class="hero__title">Full Stack Developer</span>
    <div class="hero__summary-container">
      <span class="hero__summary">I'm a </span>
      <span class="hero__subtitle">software engineer</span>
      <span class="hero__summary">
        who specializes in creating elegant, high-performance web applications using Angular on the frontend and C# on the backend. 
        With a passion for clean code and user-centric design, I build solutions that are both beautiful and functional.
      </span>
    </div>
  </div>
</section>
