.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 5rem;
  font-weight: 700;
  color: var(--surface-ripple);
  opacity: 0.6;
  padding-block: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  color: var(--on-midnight-blue);
  font-family: "Oxygen Mono", monospace;
}

.typewriter-text {
  font-size: 18px;
  font-weight: bold;
  color: var(--on-midnight-blue);
  display: inline-block;
}

.cursor {
  font-size: 18px;
  font-weight: bold;
  color: var(--on-midnight-blue);
  display: inline-block;
  position: relative;
  left: 0;
  animation: blink 0.8s infinite;
}

.hero-content {
  padding: 2rem;
  max-width: 600px;
  font-size: 1.2rem;
}

.name {
  font-size: 7rem;
  color: var(--surface-ripple);
  opacity: 1;
}

.summary {
  font-size: 1.5rem;

  color: var(--surface-ripple);
  opacity: 0.6;

  &-container {
    line-height: 1.5rem;
    margin-block-start: 1.5rem;
    max-width: 600px;
  }
}
