<section class="hero section">
  <div class="container">
    <p class="subtitle">
      <span #typewriter class="typewriter-text"></span>
    </p>
    <span class="heading name">Matthew Tuson.</span>
    <span class="heading">I build software for fun.</span>
    <div class="summary-container">
      <span class="summary">I'm a </span
      ><span class="subtitle">software engineer</span>
      <span class="summary">
        who especially loves designing and building experiences tailored to my
        own hobbies. Professionally, I specialize in building out exceptional
        Saas systems
      </span>
    </div>
  </div>
</section>
